.container-fluid{
}

a {
    color: #222;
}
.nav-link > .fa {
    margin-right: 10px;
}
.nav-link{
    padding: 5px 5px;
}
.lightdarkgrey{
    background: #efefef;
}

.sidebar{
    padding-top: 20px;
    background:#f8f9fa;
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.card-title-bg{
    background: rgba(0, 0, 0, 0.3);
    margin: -1.25rem!important;
    padding: 1.25rem;

}

.bar-card{
    cursor:pointer;
}

.barFormProfileImage {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}

.imageList {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.dz-progress {
    display: none !important;
}

.login-card {
    width: 360px;
    margin: 200px auto;
}

.invalid-feedback{
    display: block;
}